*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background: #990066;
  color: #0B033A;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
}

header > h1 {
  margin: 4vh;
}

#editor-title {
  background: #9F6DA4;
  width: 40vw;
  margin: auto;
  border: 0.25vw solid #0B033A;
  border-bottom: none;
  border-radius: 1vw 1vw 0 0;
  font-weight: 900;
  text-align: left;
  text-indent: 0.6em;
}

#previewer-title {
  background: #9F6DA4;
  width: 60vw;
  margin: auto;
  border: 0.25vw solid #0B033A;
  border-bottom: none;
  border-radius: 1vw 1vw 0 0;
  font-weight: 900;
  text-align: left;
  text-indent: 0.6em;
}

#editor, #preview {
  background: #E9A4F0;
  border: 0.25vw solid #0B033A;
  border-top: none;
  border-radius: 0 0 1vw 1vw;
}

#editor {
  height: 20vh;
  width: 40vw;
  margin-bottom: 4vh;
}

#preview {
  height: 120vh;
  width: 60vw;
}

img {
  margin: auto;
}

footer {
  visibility: hidden;
}