$background: #990066;
$text: #0B033A;
$box: #E9A4F0;
$code: #F3C2F8;
$toolbar: #9F6DA4;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: $background;
  color: $text;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
}

header > h1 {
  margin: 4vh;
  font-size: 5vw;
  font-weight: 700;
  text-shadow: 0 0 1.5vh $box;
}

h1 {
  font-size: 3vh;
  display: flex;
  justify-content: center;
  margin: 16vh auto;
}

#editor-title {
  background-color: $toolbar;
  width: 40vw;
  margin: auto;
  border: 0.2vw solid $text;
  border-bottom: none;
  border-radius: 1vw 1vw 0 0;
  font-weight: 900;
  text-align: left;
  text-indent: 0.7vw;
  font-size: 2vh;
}

#title {
  max-width: 40vw;
  background-color: $toolbar;
  font-size: 3vh;
  border-top: 0.1vh solid $text;
  margin: auto;
  border-left: 0.2vw solid $text;
  border-right: 0.2vw solid $text;
}

#title > a {
  letter-spacing: 1.75vw;
}


#previewer-title {
  background-color: $toolbar;
  width: 60vw;
  margin: auto;
  border: 0.25vw solid $text;
  border-bottom: none;
  border-radius: 1vw 1vw 0 0;
  font-weight: 900;
  text-align: left;
  text-indent: 0.7vw;
  font-size: 2.5vh;
}

#editor, #preview {
  background-color: $toolbar;
  border: 0.25vw solid $text;
  border-top: none;
  border-radius: 0 0 1vw 1vw;
}

#editor {
  height: 20vh;
  width: 40vw;
  margin-bottom: 4vh;
  border: 0.2vw solid $text;
  border-top: none;
}

#preview {
  height: 120vh;
  width: 60vw;
}

#title-from-js {
  background-color: $toolbar;
  font-size: 3.5vh;
  border-top: 0.1vh solid $text;
}

#title-from-js > a {
  letter-spacing: 3vw;
}

img {
  margin: auto;
  width: 15vw;
  margin-bottom: 3vh;
}

p {
  font-size: 3vh;
}

footer {
  visibility: hidden;
}

@media (max-width: 1366px) and (orientation: landscape) {
  #title > a {
    letter-spacing: 1vw;
  }

  #title-from-js > a {
    letter-spacing: 2vw;
  }
}

@media (min-width: 601px) and (max-width: 1024px) and (orientation: portrait) {
  #editor-title {
    font-size: 1.5vh;
  }

  #title {
    font-size: 2.5vh;
  }

  #title > a {
    letter-spacing: 0.3vw;
    font-size: 2.5vh;
  }

  #previewer-title {
    font-size: 2vh;
  }

  #preview {
    margin: 0 auto;
  }

  #title-from-js {
    font-size: 3vh;
  }

  #title-from-js > a {
    letter-spacing: 1.2vw;
    font-size: 3vh;
  }

  h1 {
    font-size: 2vh;
    margin-bottom: 25vh;
  }

  p {
    font-size: 2vh;
  }
}

@media (max-width: 950px) and (orientation: landscape) {
  #editor-title {
    font-size: 3vh;
    width: 60vw;
  }

  #editor {
    width: 60vw;
  }

  #title {
    min-width: 60vw;
    font-size: 4.5vh;
  }

  #title > a {
    font-size: 4.5vh;
    letter-spacing: 2.5vw;
  }

  #previewer-title {
    font-size: 3.5vh;
    width: 80vw;
  }

  #preview {
    margin: 0 auto;
    width: 80vw;
  }

  #title-from-js > a {
    font-size: 5vh;
    letter-spacing: 3.75vw;
  }

  h1 {
    font-size: 4vh;
    margin: 7vh 0;
  }

  img {
    width: 15vw;
    margin-bottom: 3vh;
  }

  p {
    font-size: 4vh;
  }
}

@media (max-width: 600px) and (orientation: portrait) {
  #editor-title {
    font-size: 2vh;
    width: 60vw;
  }

  #editor {
    width: 60vw;
  }

  #title {
    min-width: 60vw;
    font-size: 2.5vh;
  }

  #title > a {
    font-size: 2.5vh;
  }

  #previewer-title {
    font-size: 2.5vh;
    width: 80vw;
  }

  #preview {
    margin: 0 auto;
    width: 80vw;
  }

  #title-from-js > a {
    font-size: 3vh;
  }

  h1 {
    font-size: 3vh;
    margin-bottom: 15vh;
  }

  img {
    width: 40vw;
    margin-bottom: 3vh;
  }

  p {
    font-size: 3vh;
  }
}