*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: blueviolet; /* Hintergrundfarbe */
  color: whitesmoke; /* Textfarbe */
  height: 100vh;
  margin: 0;
}

section {
  margin: 0 auto;
  padding: 2vh 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.8vh;
}

form {
  background-color: blueviolet; /* Hintergrund des Formulars */
  padding: 2vh 2vw;
  border-radius: 1vh; /* Abgerundete Ecken */
  width: 100%;
  box-shadow: 0 0.4vh 1.2vh rgba(0, 0, 0, 0.1); /* Weiches Schatten */
  align-items: center;
}

h1 {
  text-align: center;
  color: white;
  font-size: 5vh;
  margin: 0;
}

fieldset {
  border: 0.1vh solid #ddd;
  margin-bottom: 2vh;
  padding: 2vh;
  border-radius: 1vh; /* Abgerundete Ecken */
}

legend {
  font-size: 3vh;
  margin-bottom: 1vh;
}

label {
  display: block;
  margin-bottom: 1vh;
  font-size: 2vh;
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
  width: 100%;
  padding: 1vh;
  margin: 0.8vh 0 2vh 0;
  border: 0.1vh solid #ddd;
  border-radius: 1vh;
  font-size: 2vh;
}

textarea {
  height: 45vh;
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: 1vw;
  width: 2vw;
  padding: 1vh;
}

.submit-container {
  background-color: blueviolet;
  padding: 1.2vh 2vw;
  text-align: center; /* Zentriert den Text im Container */
  cursor: pointer; /* Zeigt, dass der Container klickbar ist */
  border: 0.1vh solid black;
  border-radius: 1vh;
  font-size: 2vh;
}

.submit-container input[type="submit"] {
  width: 100%;
  height: 100%;
  opacity: 0; /* Unsichtbar, aber klickbar */
  position: absolute; /* Positionierung um sicherzustellen, dass es die ganze Fläche abdeckt */
  left: 0;
  top: 0;
  cursor: pointer;
   /* Zeigt einen klickbaren Bereich an */
}

.submit-container:hover {
  background-color: #7a4de9; /* Hover-Effekt für den Container */
}


input[type="submit"]:hover {
  background-color: #7a4de9; /* Dunklerer Lila-Ton für Hover-Effekt */
}

@media (max-width: 1024px) and (orientation: portrait) {
  input[type="text"],
  input[type="email"],
  input[type="number"] {
    margin: 0.4vh;
  }
}

@media (max-width: 600px) and (orientation: portrait) {
  h1 {
    font-size: 4vh;
  }

  input[type="text"],
  input[type="email"],
  input[type="number"] {
    margin-bottom: 0.7vh;
  }
}

@media (max-width: 950px) and (orientation: landscape) {
  h1 {
    font-size: 9vh;
  }

  label {
    font-size: 5vh;
  }

  input[type="text"],
  input[type="email"],
  input[type="number"],
  select {
    font-size: 5vh;
  }

  fieldset {
    height: 90vh;
    margin-bottom: 5vh;
  }

  #fieldset-one {
    height: 80vh;
  }

  legend {
    font-size: 7vh;
  }

  #checkbox, #radio { 
    width: 5vw;
    height: 10vh;
    appearance: none; /* Entfernt Standardstil */
    -webkit-appearance: none; /* Für WebKit-Browser */
    -moz-appearance: none; /* Für Mozilla-Browser */
    border: 0.2vh solid #ccc; /* Rahmenfarbe */
    border-radius: 1vh; /* Optional: Rundung */
    background-color: #fff; /* Hintergrund */
    vertical-align: middle;
  }

  .fieldset-others > fieldset {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .fieldset-others > fieldset > label {
    font-size: 9vh;
    display: flex;
    align-items: center;
    margin: 5vh;
  }

  textarea {
    height: 60vh;
    font-size: 5vh;
  }

  .submit-container {
    font-size: 5vh;
  }
}