@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Arial", sans-serif;
  background: linear-gradient(#fecc4c, #855917);
}

h1 {
  color: #060f4b;
  text-align: center;
  margin-bottom: 5vh;
  font-size: 2.9vw;
}

#display {
  height: 30vh;
  width: 60vw;
  background: #060f4b;
  border-radius: 0.5vw;
  border: 0.1vw solid #99FFFF;
  color: #99FFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 16vh;
  font-size: 3vw;
}

button {
  border: 0.1vw solid #99FFFF;
  border-radius: 0.5vw;
  padding: 2vh 2vw;
  margin: 2vw;
  font-size: 2vw;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background: #060f4b;
  color: #99FFFF;
}

#drum-pads {
  display: flex;
  justify-content: space-evenly;
}

.drum-pad.active {
  background: linear-gradient(#fecc4c, #855917);
  /* Beispiel: Farbe ändern */
  transform: scale(0.95);
  /* Kleiner Effekt beim Drücken */
  box-shadow: 0 4px #e67e22;
  /* Schatten simuliert "gedrückten" Zustand */
}
