:root {
  --gradient-color: linear-gradient(yellow, blue); /* Definiert eine CSS-Variable für den Farbverlauf von Gelb nach Blau */
}

* {
  box-sizing: border-box; /* Setzt das Box-Modell so, dass Padding und Border in der Gesamtbreite und -höhe enthalten sind */
}

body {
  font-size: 3vh; /* Legt die Schriftgröße für den gesamten Text fest */
  text-align: center; /* Zentriert den Text im Body */
  font-family: Arial, sans-serif; /* Setzt die Schriftart auf Arial, alternativ sans-serif */
  margin: 0;
}

#navbar {
  display: flex; /* Verwendet Flexbox für die Navigation */
  justify-content: space-evenly; /* Verteilt die Navigationselemente gleichmäßig */
  text-align: center; /* Zentriert den Text innerhalb der Navigation */
  position: fixed; /* Macht die Navigation fixiert, sodass sie beim Scrollen sichtbar bleibt */
  min-width: 100vw; /* Setzt die Mindestbreite auf die volle Breite des Viewports */
  background-color: darkblue; /* Setzt die Hintergrundfarbe auf dunkelblau */
  z-index: 101; /* Legt den Z-Index fest, damit die Navigation über anderen Inhalten liegt */
  top: 0; /* Positioniert die Navigation an der oberen Kante */
  left: 0; /* Positioniert die Navigation an der linken Kante */
}

a {
  text-decoration: none; /* Entfernt die Unterstreichung von Links */
  color: black; /* Setzt die Linkfarbe auf schwarz */
}

nav a {
  padding: 0.5vw; /* Fügt Padding um die Links hinzu */
  border: 0 solid transparent; /* Fügt einen transparenten Rand hinzu (z.B. für Hover-Effekte) */
  border-radius: 1vw; /* Macht die Ecken der Links rund */
  background: var(--gradient-color); /* Setzt den Hintergrund auf den definierten Farbverlauf */
}

nav a:hover {
  opacity: 0.7; /* Setzt die Transparenz auf 70% beim Hover-Effekt */
}

section {
  scroll-margin-top: 4vh;
}

#welcome-section {
  min-height: 100vh; /* Setzt die Mindesthöhe jedes Abschnitts auf 100% der Viewport-Höhe */
  display: flex; /* Verwendet Flexbox für die Inhalte */
  flex-direction: column; /* Elemente vertikal ausrichten */
  justify-content: center; /* Zentriert den Inhalt horizontal */
  align-items: center; /* Zentriert den Inhalt vertikal */
  padding: 0.5vw; /* Fügt Abstand innerhalb des Abschnitts hinzu */
  margin-top: 4vh; /* Abstand für die fixe Navbar */
  font-style: italic; /* Setzt den Schriftstil auf kursiv */
}

h1 {
  font-size: 6vh; /* Legt die Schriftgröße für die Hauptüberschrift fest */
  margin: 0; /* Entfernt den Standardmargin */
}

p {
  font-size: 4vh; /* Legt die Schriftgröße für Absätze fest */
  margin: 0; /* Entfernt den Standardmargin */
}

h1, p {
  display: block; /* Sicherstellen, dass beide Elemente als Block dargestellt werden */
  margin: 0 auto; /* Zentriert die Elemente bei Bedarf */ 
} 

#projects {
  display: flex; /* Flexbox für die Anordnung */
  flex-direction: column; /* Elemente vertikal ausrichten */
  align-items: center; /* Inhalte horizontal zentrieren */
  min-height: 100vh;
}

.project-title {
  margin-top: 5vh;
  margin-bottom: 2vh; /* Abstand nach unten zur Projektliste */
  font-size: 3vh; /* Schriftgröße für den Titel */
  font-weight: bold; /* Fettgedruckt */
  text-decoration: underline; /* Unterstrichen */
}

.project {
  display: flex; /* Projekte in einer Zeile */
  flex-wrap: wrap; /* Umbruch bei Platzmangel */
  justify-content: space-evenly; /* Gleichmäßige Verteilung */
  gap: 1vw; /* Abstand zwischen den Pins */
  width: 100%; /* Nimmt die volle Breite ein */
}

.pin {
  border: 0 solid transparent; /* Fügt einen transparenten Rand hinzu */
  padding: 1vw; /* Fügt Padding um die Pins hinzu */
  margin: 1vw; /* Fügt Margin zwischen den Pins hinzu */
  background: var(--gradient-color); /* Setzt den Hintergrund auf den definierten Farbverlauf */
  border-radius: 2vw;
}

a > img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27.75vw;
  border: 0.1vw solid #000000;
  border-radius: 1vw;
}

#see-more-projects {
  margin-top: 2vh; /* Abstand oberhalb des Buttons */
  padding: 2vh 44.4vw; /* Innenabstand für den Button */
  background: var(--gradient-color); /* Farbverlauf */
  border-radius: 1vw; /* Abgerundete Ecken */
  font-size: 3vh; /* Schriftgröße des Buttons */
  cursor: pointer; /* Zeigt einen Klickhinweis an */
}

#see-more-projects:hover {
  opacity: 0.7; /* Setzt die Transparenz auf 70% beim Hover-Effekt */
}

#contact {
  height: 100vh; /* Setzt die Mindesthöhe jedes Abschnitts auf 100% der Viewport-Höhe */
  display: flex; /* Verwendet Flexbox für die Inhalte */
  flex-direction: row; /* Elemente vertikal ausrichten */
  justify-content: space-evenly; /* Zentriert den Inhalt horizontal */
  align-items: center; /* Zentriert den Inhalt vertikal */
}


#profile-link-btn {
  padding: 1vh 1vw;
  background: var(--gradient-color);
  border-radius: 5vh;
  text-align: center; /* Zentriert den Text innerhalb des Buttons */
  display: flex; /* Flexbox für vertikale Ausrichtung von Icon und Text */
  flex-direction: column; /* Icon und Text übereinander */
  align-items: center; /* Zentriert den Inhalt horizontal */
  justify-content: center; /* Zentriert den Inhalt vertikal */
  border: 0 solid transparent;
}

#profile-link-btn:hover {
  opacity: 0.7;
}

#profile-link-btn img {
  width: 10vh; /* Setzt die Breite des Icons */
  border-radius: 5vh; /* Macht die Ecken des Icons rund */
}

@media (max-width: 1024px) and (orientation: portrait) {
  a > img {
    width: 45vw;
  }

  #see-more-projects {
    padding: 2vh 35.5vw;
    font-size: 3vh;
    border-radius: 2vh;
  }
}

@media (max-width: 1400px) and (orientation: landscape) {
  .project {
    gap: 0vw;
  }
  
  a > img {
    width: 29vw;
  }

  #see-more-projects {
    padding: 2vh 41.4vw;
    font-size: 3vh;
    border-radius: 2vh;
  }
}

@media (max-width: 600px) and (orientation: portrait) {
  nav > a {
    font-size: 4vh;
    padding: 4vw;
  }
  
  .pin {
    padding: 1vh;
    margin: 1vh;
    border-radius: 2vh;
  }
  
  a > img {
    width: 80vw;
    border-radius: 1.5vh;
  }  

  #see-more-projects {
    padding: 2vh 20vw;
    font-size: 3vh;
    border-radius: 2vh;
  }
}

@media (max-width: 950px) and (orientation: landscape) {
  nav > a {
    font-size: 9vh;
    padding: 2vw;
  }

  h1, p {
    font-size: 9vh;
  }

  .project-title {
    font-size: 9vh;
  }
  
  .pin {
    padding: 3vh;
    margin: 4vh 2vh;
    border-radius: 4vh;
  }
  
  a > img {
    width: 45vw;
    border-radius: 3vh;
  }  

  #see-more-projects {
    padding: 2vh 10vw;
    font-size: 9vh;
    border-radius: 4vh;
  }

  section {
    scroll-margin-top: 13vh;
  }

  #contact {
    height: 100vh;
    align-items: flex-end;
  }
}