$clear-button: #BF0606;
$operator-button: #E6ED13;
$equal-button: #4DFF00;
$decimal-button: #004DFF;
$number-button: #E700EA;
$button-text: #510052;
$text: #CFC6CF;
$background: #510052;
$calculator: #CFC6CF;
$button-border: #FFFFFF;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background;
  font-family: "Cyberchild CE", sans-serif;
}

h1 {
  text-align: center;
  margin: 5vh;
  color: $text;
  font-size: 4vw;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#calculator {
  background-color: $calculator;
  max-width: 30vw;
  display: flex;
  flex-direction: column;
  border-radius: 0.5vw;
  height: 60vh;
}

#display {
  background-color: $button-border;
  height: 10vh;
  margin: 2%;
  margin-bottom: 5vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 1vw;
  font-size: 2vw;
  color: $button-text;
  border-radius: 0.5vw;
}

#buttons {
  display: grid;
  grid-template-areas:
    "clear clear clear operators"
    "numbers numbers numbers operators";
  grid-template-columns: repeat(3, 1fr) 1fr; // Drei Spalten für Zahlen, eine für Operatoren
  grid-template-rows: auto 1fr;
  gap: 1vh;
}

.row {
  grid-area: clear;
  display: flex;
  justify-content: center;
}

#numbers-grid {
  grid-area: numbers;
  display: grid;
  grid-template-columns: repeat(3, 1fr); // Drei Spalten für Zahlen
  grid-template-rows: repeat(4, auto);  // Vier Zeilen für die Zahlen
  gap: 1vh;
}

#operators-column {
  grid-area: operators;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1vw;

  button {
    flex: 1; // Gleiche Höhe für alle Buttons
    margin-bottom: 1vh;

    &:last-child {
      margin-bottom: 0; // Kein Abstand für den letzten Button
    }
  }
}

button {
  border: 0.11vw solid $button-border;
  border-radius: 0.25vw;
  padding: 2vh 0.9vw;
  font-size: 2vw;
  cursor: pointer;
  pointer-events: auto;
  transition: background-color 0.3s ease;
  font-family: "Cyberchild CE", sans-serif;
  color: $button-text;
}

#clear {
  background-color: $clear-button;
}

#numbers-grid > button:not(#decimal):not(#equals) {
  background-color: $number-button;
}

#decimal {
  background-color: $decimal-button;
}

#equals {
  background-color: $equal-button;
}

#operators-column > button {
  background-color: $operator-button;
}
