/* Allgemeine Stile */
* {
  box-sizing: border-box;
}

body {
  background-color: darkviolet;
  color: #dfff00;
  margin: 0;
}

/* Hauptbereich */
main {
  font-family: Arial, sans-serif;
  font-size: 1.5vh;
  margin-top: 15vh;
}

.main-title {
  font-size: 4vh;
  letter-spacing: 2vw;
}

header {
  font-size: 3vh;
}

/* Navigation */
#navbar {
  text-align: center;
  position: fixed;
  background-color: darkviolet;
  width: 100vw;
  top: 0;
}

.links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2vh;
}

.nav-link {
  display: flex;
  color: #dfff00;
  text-decoration: none;
  border: 0.2vh solid #dfff00;
  padding: 2vh 5vw;
  font-size: 3vh;
  border-bottom-right-radius: 2vh;
  border-bottom-left-radius: 2vh;
}

.nav-link:hover {
  opacity: 0.7;
}

/* Hauptinhaltsabschnitte */
section {
  scroll-margin-top: 15vh; /* Höhe der Navigationsleiste oder etwas mehr */
}

.main-section {
  margin-bottom: 2vh;
}

.main-section > header, 
.main-section > div > p, 
code {
  text-align: center;
  margin: 2vh auto;
}

.main-section > div > p, 
code {
  max-width: 40vw;
  display: flex;
  justify-content: center;
}

#Processor, #Memory, #Video, #Screen, #Keyboard {
  height: 85vh;
  max-width: 70vw;
  margin: 0 auto;
}

#Processor > ul > li {
  margin-top: 2vh;
}

#Memory > ul, 
#Video > ul, 
#Screen > ul, 
#Keyboard > ul {
  max-width: 28vw;
  margin: 0 auto;
}

/* Horizontale Trenner */
hr, #section-splitter {
  color: #dfff00;
  background-color: #dfff00;
  margin: 0;
}

hr {
  height: 0.5vh;
}

#section-splitter {
  height: 0.1vh;
}

@media (max-width: 1024px) and (orientation: portrait) {
  main {
    font-size: 1vh;
  }

  .main-title {
    font-size: 3vh;
    letter-spacing: 1vw;
  }

  .nav-link {
    font-size: 2vh;
    padding: 2vh 4vw;
  }

  section {
    scroll-margin-top: 12vh; /* Höhe der Navigationsleiste oder etwas mehr */
  }

  #Processor, #Memory, #Video, #Screen, #Keyboard {
    height: 88vh;
  }
}

@media (max-width: 600px) and (orientation: portrait) {
  main {
    font-size: 0.8vh;
  }

  .main-title {
    font-size: 2vh;
    letter-spacing: 1vw;
  }

  .nav-link {
    font-size: 1.2vh;
    padding: 2vh 4vw;
  }

  section {
    scroll-margin-top: 12vh; /* Höhe der Navigationsleiste oder etwas mehr */
  }

  #Processor, #Memory, #Video, #Screen, #Keyboard {
    height: 88vh;
  }
}

